
h1{ color: red;
    text-align: center;
    text-decoration: underline rgb(rgb(78, 36, 36);
}

.titulo-principal{color: rgb(18, 18, 154);}

.btn{
    color: white;
    background-color: black
    

}